{% extends 'chat/base.html' %}
{% load static %}
{% block title %}لیست گروه ها{% endblock %}
{% block main %}
<link rel="stylesheet" href="{% static 'chat/css/group_list.css' %}">
<div class="container">
	<div class="col-12">
		<div class="col-12 col-md-10 mx-auto mb-4">
			{% if not user.is_superuser %}
				<h2 class="text-justify py-3">وارد چه گروهی میخواهید بشوید؟ نام آن را وارد کنید.</h2>
			{% else %}
				<h2 class="text-justify py-3">وارد چه گروهی می خواهید بشوید و یا چه گروهی میخواهید ایجاد کنید؟ نام آن را وارد کنید.</h2>
			{% endif %}
		</div>
		<div class="col-12 col-md-10 mx-auto">
			<div class="row">
				<div class="col-12 col-md-9 search-group">
					<input type="text" id="room-search-input" 
					class="rounded myInp col-12" placeholder="گروه خود را وارد کنید...">
					<div class="group-lists col-12 rounded"></div>
				</div>
				<div class="col-12 col-md-3 mt-4 mt-md-0">
					<button class="myBtn rounded" id="room-search-btn">جستجو</button>
				</div>
			</div>
		</div>
		{% if user.is_superuser %}
			<div class="col-12 col-md-10 mx-auto mt-4">
				<div class="row">
					<div class="col-12 col-md-9">
						<input type="text" class="rounded myInp" id="room-create-input" placeholder="گروه خود را وارد کنید...">
					</div>
					<div class="col-12 col-md-3 mt-4 mt-md-0">
						<button class="myBtn rounded" id="room-create-btn">ایجاد گروه</button>
					</div>
				</div>
			</div>
		{% endif %}
  <hr class="col-12 mt-5">
  <div class="col-12 col-md-10 mx-auto mb-4 my-5 row">
	{% if type == 'list' %}
		<h3 class="text-right py-3 col-11">لیست گروه هایی که عضو آنها هستید: (برای وارد شدن کلیک کنید.)</h3>
	{% else %}
		<h3 class="text-right py-3 col-11"><span><i class="fa fa-search"></i></span> نتایج جستجوی {{search_name}}:</h3>
	{% endif %}
	<a title="تنظیمات حساب کاربری" class="py-3 text-left setting col-1" href="{% url 'user-update' request.user.username %}"><span><i class="fa fa-cog"></i></span></a>
  </div>
  <div class="col-12 col-md-10 mx-auto">
	<table class="table table-striped text-right">
		{% for chat in chat_rooms %}
			<tr><td class="row">
				{% if type == 'list' %}
					<div class="col-1"></div>
					<a class="col-5 text-right" href="/chat/{{chat.room_name}}/"><span><i class="far fa-comment"></i></span> گروه {{chat.room_name}}</a>
					{% if not request.user.is_superuser %}
						<a class="col-5 text-left" href="/chat/{{chat.room_name}}/leave">خارج شدن از گروه <span><i class="fas fa-sign-out-alt"></i></a>
					{% else %}
						<a class="col-5 text-left" href="/chat/{{chat.room_name}}/leave">خارج شدن از گروه یا حذف آن <span><i class="fas fa-sign-out-alt"></i></a>
					{% endif %}
				{% else %}
					{% if request.user not in chat.members.all %}
						<div class="col-1"></div>
						<a class="col-5 text-right" href="/chat/{{chat.room_name}}/"><span><i class="far 	fa-comment"></i></span>گروه {{chat.room_name}}</a>
						<a href="/chat/{{chat.room_name}}/"" class="col-5 text-left">
						برای عضو شدن کلیک کنید <span><i class="fa fa-plus"></i></span>
						</a>
					{% else %}
						<div class="col-1"></div>
						<a class="col-5 text-right" href="/chat/{{chat.room_name}}/"><span><i class="far fa-comment"></i></span> گروه {{chat.room_name}} {% if request.user in chat.members.all %}(شما عضو این گروه هستید.){% endif %}</a>
						{% if not request.user.is_superuser %}
							<a class="col-5 text-left" href="/chat/{{chat.room_name}}/leave">خارج شدن از گروه 	<span><i class="fas fa-sign-out-alt"></i></a>
						{% else %}
							<a class="col-5 text-left" href="/chat/{{chat.room_name}}/leave">خارج شدن از گروه یا حذف آن <span><i class="fas fa-sign-out-alt"></i></a>
						{% endif %}
					{% endif %}
				{% endif %}
				
			</td></tr>
		{% empty %}
			{% if type == 'list' %}
				<p class="not-found text-right">شما عضو هیچ گروهی نیستید!</p>
			{% else %}
				<p class="not-found text-right">چیزی یافت نشد!</p>
			{% endif %}
		{% endfor %}
	</table>
  </div>
  {% if paginator.num_pages > 1 %}
	<nav class="col-12 col-md-10 mx-auto mt-5">
		<ul class="pagination pagination-lg d-flex flex-wrap justify-content-center">
		{% if chat_rooms.has_previous %}
			<li class="page-item">
				<a class="page-link" href="{{page_url}}{{chat_rooms.previous_page_number}}/">
				<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
		{% endif %}
		{% for p in paginator.page_range %}
			{% if paginator.num_pages < 9 %}
				{% if p == page %}
					<li class="page-item active">
						<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
					</li>
				{% else %}
					<li class="page-item">
						<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
					</li>
				{% endif %}
			{% else %}
				{% if page < 4 %}
					{% if p == page %}
						<li class="page-item active">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% elif p == 5 %}
						<li class="page-item">
							<a href="{{main_url}}" class="page-link">...</a>
						</li>
						<li class="page-item">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% elif p < 9 %}
						<li class="page-item">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% endif %}
				{% elif page >= 4 and page < paginator.num_pages|add:"-3" %}
					{% if p == page %}
						<li class="page-item active">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% elif p == page|add:"+1" %}
						<li class="page-item">
							<a href="{{main_url}}" class="page-link">...</a>
						</li>
						<li class="page-item">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% elif p >= page|add:"-3" and p < page or p > page and p <= page|add:"+4" %}
						<li class="page-item">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% endif %}
				{% elif page >= paginator.num_pages|add:"-3" %}
					{% if p == page %}
						<li class="page-item active">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% elif p == paginator.num_pages|add:"-4" %}
						<li class="page-item">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
						<li class="page-item">
							<a href="{{main_url}}" class="page-link">...</a>
						</li>
					{% elif p >= paginator.num_pages|add:"-7" %}
						<li class="page-item">
							<a href="{{page_url}}{{p}}/" class="page-link">{{p}}</a>
						</li>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
		{% if chat_rooms.has_next %}
			<li class="page-item">
				<a class="page-link" href="{{page_url}}{{chat_rooms.next_page_number}}/">
				<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		{% endif %}
		</ul>
	</nav>
  {% endif %}
  <hr class="col-12 mt-5">
	<div class="row">
		<p class="col-6 mt-4 text-right">
			<a href="{% url 'logout' %}" class="log-out">خروج از حساب <span><i class="fas fa-sign-out-alt"></i></span></a>
		</p>
		{% if type == 'search_list' %}
			<p class="col-6 mt-4 text-left">
				<a href="{% url 'home' %}" class="home">صفحه اصلی <span><i class="fa fa-home"></i></span></a>
			</p>
		{% endif %}
	</div>
	</div>
</div>
<script src="{% static 'chat/js/group_list.js' %}"></script>
{% endblock %}