{% extends "chat/base.html" %} {% load static %} {% block title %}ثبت نام / ورود{% endblock %} {% block main %}
<link rel="stylesheet" href="{% static 'chat/css/registration.css' %}" />
<div class="alert {% if form.errors %}alert-danger{% endif %} text-right errors">
    {% for fields, errors in form.errors.items %} 
        {% for error in errors %}
            <ul>
                <li>{{error}}</li>
            </ul>
        {% endfor %} 
    {% endfor %}
</div>
<div class="container">
    <form method="POST">{% csrf_token %}
        <div class="d-flex flex-column align-items-center">
            <div class="main col-11 col-sm-10 col-md-7 col-lg-5">
                <!-- signup -->
                <div class="signup">
                    <h2 class="title" id="signup"><span>یا</span>ثبت نام</h2>
                    <div class="holder">
                        <input type="text" class="input" name="username-signup" maxlength="32" placeholder="نام کاربری" />
                        <input type="password" class="input" name="password1" placeholder="رمز عبور" />
                        <input type="password" class="input" name="password2" placeholder="تکرار رمز عبور" />
                    </div>
                    <button class="submit" type="submit" name="submit" value="signup">ثبت نام</button>
                </div>
                <!-- login -->
                <div class="login slide-up">
                    <div class="center signup">
                        <h2 class="title"><span>یا</span>ورود</h2>
                        <div class="holder">
                            <input type="text" class="input" name="username-login" maxlength="32" placeholder="نام کاربری" />
                            <input type="password" class="input" name="password" placeholder="رمز عبور" />
                        </div>
                        <button class="submit" type="submit" name="submit" value="login">ورود</button>
                    </div>
                </div>
                <!-- ***** -->
            </div>
            <!-- Google recaptcha -->
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="col-11 col-sm-10 col-md-7 col-lg-5 my-5 d-flex justify-content-center g-recaptcha"
            data-sitekey="6LdxWdcaAAAAALhc9Xo0lvPfW2gQco1jbEKnVLBQ"></div>
            <!-- ***** -->
        </div>
    </form>
</div>
<script src="{% static 'chat/js/registration.js' %}"></script>
{% endblock %}
