{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet prefetch"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet" id="bootstrap-css"/>
    <link rel="stylesheet" href="{% static 'chat/style.css' %}" />
  </head>
  <body>
    <div id="frame">
      <div class="content">
        <div class="contact-profile">
          <img src="" alt="" />
          <p dir="rtl"><span class="icon_"><i class="fa fa-user"></i></span>نام کاربری شما: {{username}}</p>
          <div class="main-title" dir="rtl">
            <span class="icon_"><i class="fa fa-comment"></i></span>
            <p>نام گروه: "{{room_name}}"</p>
          </div>
        </div>
        <div class="messages">
          <ul id="chat-log">
          </ul>
        </div>
        <div class="message-input">
          <div class="wrap">
            <textarea dir="rtl" id="chat-message-input" placeholder="پیام خود را تایپ  کنید..."></textarea>
            <span id="input-file"><i class="fa fa-paperclip attachment"></i></span>
            <button id="chat-message-submit" class="submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <input id="inp" type='file' accept="image/*" style="display:none" >
    <p id="b64"></p>
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'chat/reconnecting-websocket.js' %}"></script>
    <script src="{% static 'chat/room.js' %}"></script>
    <script>
      var username_ = {{username}};
      setUserName(username_);
    </script>
  </body>
</html>