@import url(colors.css);
* {
    transition: all .5s ease-in-out;
    font-family: Shabnam, Arial, sans-serif;
    direction: rtl;
}
body {
    background-color: var(--color1);
}
h3 {
    color: var(--color3);
}
button {
    padding: 15px 10px;
    font-size: 1.2em;
    width: 100%;
    margin: 10px;
    color: white;
    outline: none;
    border: none;
}
.btn-color-2 {
    background-color: var(--color2);
}
.btn-color-3 {
    background-color: var(--color3);
}
.btn-color-4 {
    background-color: var(--color4);
}
@media screen and (max-width: 767px) {
    h3 {
        font-size: 1.3rem;
    }
    button {
        font-size: 1em;
    }
}